{
    "rules": {
        "indent": [
            2,
            2,
            {
                "SwitchCase": 1
            }
        ],
        "space-before-function-paren": [
            2,
            {
                "anonymous": "always",
                "named": "never"
            }
        ],
        "no-use-before-define": [2, "nofunc"],
        // TODO: turn on later
        "comma-dangle": [2, "always"],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true
            }
        ],
        "no-underscore-dangle": [0]
    },
    "plugins": ["prettier"],
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "extends": ["eslint:recommended", "airbnb-base"]
}
